{% extends 'maqueta.html' %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

    <head>
        {% block titleHead %}
            <title>Fundación Mis Perris: Administrador - Lista de rescatados.</title>title>
        {% endblock %}
        {% block cssHead %}
            <link rel="stylesheet" href="{% static 'css/normal.css' %}">
        {% endblock %}
        {% block jsHead %}
            <script src="{% static 'js/jquery/jquery.js' %}"></script>
        {% endblock %}
    </head>

    <body>
        <!-- Contenido de la pagina -->
        {% block contenido %}
            <section>
                <div id="contenedorForm" class="contenedor-formulario">
                    <!-- Contenido de los rescatados cargados por jQuery -->
                </div>
            </section>
        {% endblock %}
        {% block jsBody %}
            <script src="{% static 'js/erroresAjax.js' %}"></script>
            <script src="{% static 'js/listados/rescatados.js' %}"></script>
        {% endblock %}
    </body>

</html>